.sidebar-button-in-sidenav {
	position: absolute;
    right: -10px;
}
.sidenav a.nav-link.active{
	background-color: #099543 !important;
	color: white !important;
}
.sidenav a.nav-link.active i::before{
	color: white;
}
.sidenav {
	z-index: 999 !important;
	position: absolute;
}



.front-end li.nav-item > a:not(footer .nav-item > a){
	color: black !important;
}
.front-end li.nav-item > a > i:not(li.nav-item > a > i) {
	position: relative;
    top: 4px;
    width: 21px;
    font-size: 12pt;
}
.front-end li.nav-item > a > i::before:not(footer .nav-item > a > i::before) {
	color: black;
}
.front-end footer .nav-item > a > i::before {
	top: -2px;	
}


.front-end .dropdown-menu {
	box-shadow: 0px 4px 12px #00000040;
	background: #f1f1f1;
	color: white;
	border-radius: 0 !important;
}
.front-end li.dropdown-item {
	padding: 0 !important;
}
.front-end li.dropdown-item > a {
    color: #323232;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 9pt;
    padding: 10px 45px 10px 15px;
}
.front-end .dropdown-item:hover{
	border-radius: 0 !important;
	background-color: #c3c3c3;
}
.front-end li.dropdown-item > a > i::before {
	color: black;
}
.front-end .navbar.navbar-transparent {
	background: white !important;
	padding: 0 !important;
}
.front-end .navbar.navbar-transparent .navbar-brand {
    color: #66615B !important;
}


.navbar-top {
	z-index: 999;
}
.navbar-top a.nav-link.primary{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:3px solid #fb6340;
    padding: 7px 7px;
    border-radius: 8px;
}
.navbar-top a.nav-link.active{
	background-color: #099543 !important;
    color: white !important;
    padding: 10px 10px;
    border-radius: 8px;
}
.navbar-top a.nav-link.active i::before{
	color: white;
}

.table-mitra-grid tr th, .table-mitra-grid tr td {
	text-align: left !important;
	border: 0 !important;
}
.table-condensed tr > * {
	border: 0 !important;
	padding: 0 !important;
	text-align: left !important;
	white-space: pre-wrap;
	vertical-align: middle;
    font-family: sans-serif;
    font-size: 11pt;
}


.triangle {
	position: absolute;
    left: -29px;
    top: -29px;
    transform: scaleY(12);
}
.triangle div {
    border-top: 28px solid transparent;
    border-right: 28px solid white;
    border-bottom: 28px solid transparent;
    border-left: 28px solid transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.center-crop {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	max-width: initial !important
}


.btn-icon-only i {
	position: relative;
	top: 2px;
}
.bg-lpnu {
	background-color: #099543;
}
.bg-guest-orange {
	background: #fd7e14;
}
.front-end .bg-primary {
	background-color: #007bff !important;
}
.border-guest-orange {
	border-color: #fd7e14 !important;
}
.text-lpnu {
	color: #099543 !important;
}
.lpnu-form label {
	color: black !important;
	font-weight: bold;
}
.lpnu-form .form-control, .lpnu-form .input-group-text {
	color: #54595f !important;
}
.element-options {
	background: #F1F1F1;
}
.element-options label {
	color: #172b4d !important;
}
.element-options .form-control, .lpnu-form .input-group-text {
	color: #172b4d !important;
}
.is-invalid.input-group-prepend .input-group-text {
	border: 1px solid #fb6340 !important;
}

.tail-select {
	flex: 1 1;
	border-left: 0 !important;
	margin-left: -1px !important;
    font-size: .875rem;
    font-weight: 400;
    height: inherit !important;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68, -.55, .265, 1.55); 
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px rgba(233, 236, 239, .05);
}
.tail-select .label-inner {
	padding: 0 !important;
}
.tail-select .tail-select-container {
	border: 0 !important;
}
.tail-select .select-handle {
	margin: 0 4px 2px 0  !important
}
.tail-select .select-label {
	padding: 2px 30px 0 0 !important;
}
.select-dropdown .dropdown-inner{
    overflow: visible !important;
}

div.ck-editor__editable strong {
	font-weight: bold !important;
}
div.ck-editor__editable {
	min-height: 250px;
    color: black;
    font-family: 'Amiri', sans-serif;
    line-height: 28px;
    font-size: 19px;
}
.dz-image, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark, .dz-remove, .dz-preview, .dz-processing, .dz-image-preview, .dz-success, .dz-complete {
	display: none !important;
}


table.table-border-0 tr > * {
	border: 0 !important;
}


.light-slider {
	background: #ddd;
}
.light-slider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.light-slider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.light-slider img {
    display: block;
    height: auto;
    width: 100%;
}
.lSSlideOuter .lSPager.lSGallery img {
	width: 100%;
}
.lSPager li {
	overflow: hidden !important;
}	


.no-transform:hover {
    box-shadow: 0px 8px 19px -7px rgb(0 0 0 / 30%);
    transform: initial !important;
    -webkit-transform: initial !important;
    -moz-transform: initial !important;
}
.article p {
	color: #252525;
	font-family: 'Amiri', sans-serif;
    line-height: 28px;
    font-size: 19px;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
	font-family: 'Amiri', sans-serif;
	margin-bottom: 16px;
}
.article .image {
	margin: 8px auto;
	text-align: center;
}
.article figcaption {
    font-style: italic;
    font-size: 8pt;
    font-weight: 500;
    padding: 5px;
    margin: -4px 8px 0 8px;
    background: #ececec;
}
.article .image img {
	max-width: 100%;
	padding: 4px 8px;
}
.article .image-style-align-left {
	margin-right: 8px;
	float: left;
}
.article .image-style-align-right {
	margin-left: 8px;
	float: right;
}
.article strong {
	font-weight: 600
}
.article table tr > * {
	font-size: 13pt;
	font-family: 'Amiri', sans-serif;
}
.article ul > li, .article ul > li a, .article ol > li, .article ol > li a {
	font-size: 13pt;
	font-family: 'Amiri', sans-serif;
	color: black;
}
.article blockquote {
    border-left: 2px solid #4a4a4a;
    background-color: #ececec;
}
.article blockquote p {
	font-size: 16px !important;
    font-style: italic;
    font-family: 'Raleway', sans-serif !important;
    padding: 16px 16px 16px 24px;
}
.article blockquote p::before {
	content: "\f10d";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	padding-right: 12px;
}
.article blockquote p::after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f10e";
	padding-left: 12px;
}
.pratinjau {
	width: 300px;
    height: auto;
    padding: 16px;
    position: fixed;
    top: 20px;
    z-index: 9999;
    background-color: #000000c7;
    color: white;
}
.pratinjau h6 {
	color: white;
	font-size: 24pt;
	line-height: 32px;
}
::selection {
  background: #B0B8E4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #B0B8E4; /* Gecko Browsers */
}
::-webkit-selection {
  background: #B0B8E4; /* WebKit/Blink Browsers */
}

.progress-bar-animated-fast {
	animation: progress-bar-stripes 0.5s linear infinite;
}
.progress-bar-striped-light {
    background-image: linear-gradient(45deg, rgb(0 0 0 / 69%) 25%, transparent 25%, transparent 50%, rgb(0 0 0 / 69%) 50%, rgb(0 0 0 / 69%) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}
.d-none-important {
	display: none !important;
}
.btn-content {
	cursor: pointer;
	transition: all ease 200ms;
}
.btn-content:hover {
	background-color: #e9fff2;
	box-shadow: 0px 6px 12px 0px #0000001f;
	/*transform: translateY(-2px);*/
}
.btn-content:hover .dropdown-menu {
	z-index: 2000
}
.dropdown-no-caret::after {
	display: none !important
}
.margin-top-guest {
	margin-top: 90px;
}
.backdrop-gradient::after {
	content: '';
	width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, #000000e3, transparent);
}
.carousel-item {
	overflow: hidden !important;
	position: static;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	position: static !important;
	display: block !important;
}
.caption, .carousel-caption {
    position: absolute;
    bottom: 12px;
    left: 6%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-caption h5 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 18pt;
    line-height: 26px;
}
.carousel-caption div {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 9pt;
}
.caption h5 {
	font-family: 'Raleway';
	font-weight: bold;
	overflow: hidden;
	font-size: 9pt;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.card:not(.card-plain):hover, .card:not(.no-transform):hover {
    box-shadow: 0px 8px 19px -7px rgb(0 0 0 / 30%);
    transform: translateY(0px);
    -webkit-transform: translateY(0px)
}
.card-link {
	cursor: pointer;
}
.card img {
	border-radius: 0 !important;
	max-width: initial;
	max-height: initial
}
.ck-editor__main img, .img-thumbnail {
	max-width: 100% !important;
}
.widget-title {
	font-weight: bold;
}


.overlay-loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 999;
    box-shadow: 0 0 20px 9px black;
}


/* -------------------------------------------------------------
 * Extra Large (XL)
 * ------------------------------------------------------------*/
@media screen and (min-width: 1200px) {
	.front-end .main {
		margin-top: 75px
	}
	.front-end-logo {
		height: 65px
	}
	.lSPager li {
		height: 50px;
	}
	.container-wildanie {
		width: 1200px
	}
	.artikel-thumbnail {
		width: 80px;
		height: 80px
	}
	.artikel-thumbnail-md {
		width: 180px;
		height: 180px
	}
	.artikel-thumbnail-sm {
		width: 120px;
		height: 120px
	}
}


/* -------------------------------------------------------------
 * Large (LG)
 * ------------------------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.front-end .main {
		margin-top: 75px
	}
	.front-end-logo {
		height: 65px
	}
	.lSPager li {
		height: 40px;
	}
	.container-wildanie {
		width: 992px
	}
	.artikel-thumbnail {
		width: 80px;
		height: 80px
	}
	.artikel-thumbnail-md {
		width: 180px;
		height: 180px
	}
	.artikel-thumbnail-sm {
		width: 120px;
		height: 120px
	}
	
}

/* -------------------------------------------------------------
 * Medium (MD)
 * ------------------------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.front-end .main {
		margin-top: 60px
	}
	.front-end-logo {
		height: 60px
	}
	.lSPager li {
		height: 30px;
	}
	.artikel-thumbnail {
		width: 80px;
		height: 80px
	}
	.artikel-thumbnail-md {
		width: 180px;
		height: 180px
	}
	.artikel-thumbnail-sm {
		width: 120px;
		height: 120px
	}
	.margin-top-guest {
		margin-top: 80px;
	}
}

/* -------------------------------------------------------------
 * Small (SM)
 * ------------------------------------------------------------*/
@media screen and (min-width: 576px) and (max-width: 768px) {
	.front-end .main {
		margin-top: 60px
	}
	.front-end-logo {
		height: 60px
	}
	.lSPager li {
		height: 30px;
	}
	.artikel-thumbnail {
		width: 80px;
		height: 80px
	}
	.artikel-thumbnail-md {
		width: 180px;
		height: 180px
	}
	.artikel-thumbnail-sm {
		width: 120px;
		height: 120px
	}
	.margin-top-guest {
		margin-top: 80px;
	}
}

/* -------------------------------------------------------------
 * Extra Small (SM)
 * ------------------------------------------------------------*/
@media screen and (max-width: 576px) {
	.front-end .main {
		margin-top: 50px
	}
	.front-end-logo {
		height: 45px
	}
	.lSPager li {
		height: 40px;
	}
	.artikel-thumbnail {
		width: 60px;
		height: 60px
	}
	.artikel-thumbnail-md {
		width: 320px;
		height: 320px
	}
	.artikel-thumbnail-sm {
		width: 120px;
		height: 120px
	}
	.margin-top-guest {
		margin-top: 65px;
	}
}